[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "~=3.2.0"
benepar = "~=0.2.0"
nltk = "~=3.6.5"
Flask = "~=2.0.2"
WTForms = "~=3.0.1"
WTForms-ParsleyJS = "~=2.0.1"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
