[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# torch = {path = "torch-1.10.1+cpu-cp39-cp39-linux_x86_64.whl"}
spacy = "~=3.2.0"
benepar = "~=0.2.0"
nltk = "~=3.6.5"
Flask = "~=2.0.2"
WTForms = "~=3.0.1"
WTForms-ParsleyJS = "~=2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
